body {
margin: auto;
width: 90%;
padding-top: 25px;
padding-bottom: 8px;
background-color: #121212;
color: #D1D5DB;
font-family: sans-serif;
}
a {
    color: #FFD700;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
